extends layout

block content
	h2 Commands
	
	p
		a(href="/command/add") Add a Command

	table
		tr
			th Command Name
			th Description
			th Edit
			th Delete

		each command in commands
			tr
				td.valign-top.first= command.command_name
				td.width300= command.description
				td.valign-top
					a(href="/command/edit/" + command.command_name) Edit
				td.valign-top.last
					a(href="/command/delete/" + command.command_name) Delete