extends layout

block content
	h2 Commands
	
	p
		a(href="/command/add") Add a Command

	table
		tr
			th Command Name
			th Edit

		each command in commands
			tr
				td.first= command['command_name']
				td.last
					a(href="/command/edit/" + command['command_name']) Edit