extends layout

block content
	h2 Hostgroups

	p
		a(href="/hostgroup/add") Add a Hostgroup

	table
		tr
			th Hostgroup Name
			th Edit

		each hostgroup in hostgroups
			tr
				td= hostgroup.hostgroup_name
				td
					a(href="/hostgroup/edit/" + hostgroup.hostgroup_name) Edit
				td
					a(href="/hostgroup/delete/" + hostgroup.hostgroup_name) Delete