extends layout

block content
	h1= title
	p Welcome to #{title}

	a(href="/command") Commands
	br

	a(href="/host") Hosts
	br

	a(href="/hostgroup") Host Groups
	br

	a(href="/service") Services
	br

	a(href="/servicegroup") Service Groups
	br