doctype html
html
	head
		title= title
		include includes/css
	body

		.container-fluid
			.row
				.col-md-12.header
					include includes/header
		
		.container-fluid
			.row
				.col-md-2.sidenav
					include includes/sidenav
					
				.col-md-10.content
					block content

	include includes/scripts