extends layout

block content
	h1 SERVICEs

	p
		a(href="/service/add") Add

	ul
		each service in services
			li= service['service_description']
				a(href="/service/edit/" + service['service_description']) Edit