extends layout

block content
	include includes/membershipControl
	h1 Servicegroups

	if servicegroup
		h4="Editing: " + servicegroup.servicegroup_name

	//- Set the form action based on edit or add
	- var action = (servicegroup ? '/servicegroup/edit/' + servicegroup.servicegroup_name : '/servicegroup/add')

	if servicegroup
		//- EDIT existing servicegroup (prefill fields)
		form(name="servicegroup_options" action=action method="post")
			table
				+textbox('Servicegroup Name', 'servicegroup_name', servicegroup.servicegroup_name)
				+textbox('Alias', 'alias', servicegroup.alias)
				
				tr
					td(colspan=2) Services
						+membershipControl(services.members, services.nonmembers, 'service', 'service_description')
				tr
					td(colspan=2) Servicegroups
						+membershipControl(servicegroups.members, servicegroups.nonmembers, 'servicegroup', 'servicegroup_name')

				+textbox('Notes', 'notes', servicegroup.notes)
				+textbox('Notes URL', 'notes_url', servicegroup.notes_url)
				+textbox('Action URL', 'action_url', servicegroup.action_url)

			input(type="submit" onclick="selectAllOptions();")

	else
		//- ADD new servicegroup
		form(name="servicegroup_options" action=action method="post")
			table
				+textbox('Servicegroup Name', 'servicegroup_name')
				+textbox('Alias', 'alias')
				tr
					td(colspan=2) Services
						+membershipControl(services.members, services.nonmembers, 'service', 'service_description')
				tr
					td(colspan=2) Servicegroups
						+membershipControl(servicegroups.members, servicegroups.nonmembers, 'servicegroup', 'servicegroup_name')

				+textbox('Notes', 'notes')
				+textbox('Notes URL', 'notes_url')
				+textbox('Action URL', 'action_url')
			
			input(type="submit" onclick="selectAllOptions();")