extends layout

block content
	h2 Servicegroups

	p
		a(href="/servicegroup/add") Add a Servicegroup

	table
		tr
			th Servicegroup Name
			th Edit

		each servicegroup in servicegroups
			tr
				td= servicegroup.servicegroup_name
				td
					a(href="/servicegroup/edit/" + servicegroup.servicegroup_name) Edit