extends layout

block content
	h2 Services

	p
		a(href="/service/add") Add a new Service

	table
		tr
			th Service Name
			th Edit
			th Delete
			
		each service in services
			tr
				td= service.service_description
				td
					a(href="/service/edit/" + service.service_description) Edit
				td
					a(href="/service/delete/" + service.service_description) Delete