a(href="/")
	h3 Nagooey

a(href="/command") Commands
br

a(href="/contact") Contacts
br

a(href="/host") Hosts
br

a(href="/hostgroup") Host Groups
br

a(href="/service") Services
br

a(href="/servicegroup") Service Groups
br

a(href="/timeperiod") Time Periods
br